<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <h2>Registrarse</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h6>Email</h6>
        <label for="inputEmail" class="sr-only">Email</label>
        <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Email", autofocus: true %>
        <br>
        <h6>Contrase単a</h6>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Contrase単a" %>
        </br>
        <h6>Confirmar contrase単a</h6>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmar contrase単a" %>
        </br>

        <%= f.submit "Registrarse", class: "btn btn-lg btn-primary btn-block" %>

      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>